#
# This Service starts (and re-starts in case of crash) the openhd main executable on openhd images,
# such that it always runs in the background.
#

[Unit]
Description=X20 Temperature Guardian
After=NetworkManager.service

[Service]
User=root
ExecStart=/usr/local/bin/x20/temperature_guardian
Restart=always
RestartSec=3


[Install]
WantedBy=multi-user.target
